<!DOCTYPE html>
<html>
<head>
	<title>Image Caption Generator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
	
</head>
<body>
	<video autoplay muted loop id="myVideo">
  	<source src="{{ url_for('static', filename='graphics/feed-loop-mini_2.mp4')}}" type="video/mp4">
	</video>

	<div class="content">
	  <!-- Use a button to pause/play the video with JavaScript -->
		<nav class="navbar navbar-transparent navbar-fixed-top">
		<!-- <nav class="navbar navbar-transparent navbar-fixed-top"> -->
			<div class="container navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tocollapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      	</button>
				<div class="collapse navbar-collapse" id="tocollapse">
				<div class="nav navbar-nav navbar-center">
					<li class="active "><a class="navclass"href="/">HOME</a></li>
			<!--		<li class="active "><a class="navclass"href="/about">THE TECHNOLOGY</a></li> -->
					
		        	
		        	<li class="active "><a class="navclass" href="/register">REGISTER</a></li>
		        	<li class="active "><a class="navclass" href="/login">LOG IN</a></li>
		        	

		        </div>
		    	</div>
			</div>
		</nav>

		<div class=caption>
			<h1 class="display-4">Image Caption Generator</h1>
		</div>
		<div class=desciption>
			<p>Image Caption generator is a challenging Artificial Intelligence based task where a textual description for a given image is provided by the model. This caption generator involves methods from computer vision to natural language processing concepts to recognize the contents of an image and describe them in a natural language like English in the right order. The model is trained so as to maximize the likelihood of the target description sentence given the training image.</p>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='graphics/home.js')}}"></script>	
</body>
</html>
